export(PgObjectsInit)
export(PgObjectsClose)
export(sql)
export(createPgobjTables)
export(destroyPgobjTables)
export(tableExists)
export(storeObj)
export(objectExists)
export(deleteObj)
export(getObj)
export(getObjId)
export(getObjHash)
export(storeKeyval)
export(getKeyvalObj)
export(getKeyval)
export(getKey)
